@import "compass/reset";

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

@import "compass/css3/border-radius";

.btn-sm {
	font-weight:bold;
	font-size: 11px;
}

.btn-white, .white {
	background-color: white;
}

.hint {
	font-size: 11px;
	color:#666;
}

#main {
	background-color: #f5f5f1;
}

.navbar {
	margin-bottom: 0px;
}

.home {

	#search-form-header {
		background-image: url('../../media/background.jpg');
		background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

		padding: 10px;
		border-bottom: 1px solid  #d9d9d9;
		.container {
			margin:auto;
			width:600px;
			padding: 100px;
			.form-search {
				background: #fff;
				@include border-radius(5px);
				padding: 10px;
				.search-input  {
					background-color: #fff;
			    border: 1px solid #d9d9d9;
			    border-top-color: #c0c0c0;
			    height: 28px;
			    vertical-align: top;
					width: 100%;
					padding: 3px;
					input {
						width:100%; height: 100%;
						outline: none;
						border: none
					}
				}

				button {
					margin: 10px 5px;
				}
			}
		}
	}

	#suitable {
		width:640px;
		margin:auto;
		.suitable-list {
			margin-top: 20px;

			.suitable-item {
				@include border-radius(3px);
				border: 1px solid #eaeaea;
				width: 300px;
				float: left;
				background-color: #fff;
				margin-right: 20px;



				.item-image {
					position:relative;
					.item-title {
						position: absolute;
						bottom:0px;
						left:0px;
						right:0px;
						background-color: rgba(0, 0, 0, 0.4);
						color:#fff;
						padding:5px;
						font-weight: 500;
					}
					border: 4px solid #fff;
					width:100%;
					height: 300px;
					overflow: hidden;
					img {
						height:100%;
					}
				}


				.related-list {
					margin-top: 5px;
					margin-bottom: 5px;
					.related-item {
						float: left;
						@include border-radius(2px);
						border: 1px solid #eaeaea;
						margin-right: 3px;
						margin-left: 4px;
						.item-image {
							border: 4px solid #fff;
							overflow: hidden;
							width:90px;
							height:90px;
						}

						.item-count {
							color: #0192B5;
					    display: block;
					    font-size: 24px;
					    padding-top: 15px;
						}
					}
					:last-child {
						margin-right: 0px;
					}
				}

				.about-shop {
					background-color: #fbfbf8;
			    border-top: solid 1px #ddd;
			    line-height: 18px;
					padding: 10px;

					.about-image {
						float: left;
						width:30px;
						height: 30px;
						margin-right: 15px;
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}


footer {
	padding: 10px;
	border-top: 1px soid #ccc;
}
